<template>
  <div class="ot2dprecomputed">
    <!-- -->
    <div class="test-view vary" style="position: relative;">
      <canvas
        ref="vary"
        :height="cfg.processHeight"
        :width="varyWidth"
        style="width:100%;"
      />
      <div
        class="mouse-sensitive-vary-area"
        :style="{ '--nSteps': varySteps.length }"
        @mousedown.left="clickOnVary($event)"
        @mousemove.exact="
          (e) => {
            if (e.buttons & 1) clickOnVary(e);
          }
        "
        @mousemove.shift="clickOnVary($event, true, false)"
        @wheel.prevent="
          setTimeout(() => {
            // so we can prevent the event even in case of slow processing
            changePaintAtRadius(-$event.deltaY);
          }, 0)
        "
      ></div>
    </div>

    <!-- slider for the controllable interpolation -->
    <div class="controls-view">
      <div class="alpha">
        α = {{ alpha.toFixed(2) }}
        <button
          :class="{ on: animateAlpha !== 0 }"
          @click="
            animateAlpha =
              animateAlpha == 0
                ? Math.sign(1 / animateAlpha) * animateAlphaBase
                : animateAlpha * 0
          "
          @click.right.prevent="promptAnimateAlphaBase()"
        >
          auto</button
        ><!-- we use a hacky -0 vs +0 to remember direction -->
      </div>
      <input
        type="range"
        :min="-cfg.overshoot"
        :max="1 + cfg.overshoot"
        step="0.01"
        v-model.number="alpha"
      />
    </div>

    <!-- controllable interpolation -->
    <div style="position: relative">
      <div class="controls" style="position: absolute; left: 0; top: 0;">
        <div>
          <button title="Color base on location" @click="toggleColorMode">
            C
          </button>
          <button title="Swap images" @click="toggleSwapMode">S</button>
          <label
            ><input type="checkbox" v-model="advanced" /><span>…</span></label
          >
        </div>
        <div v-if="advanced" style="font-size: 75%;">
          <button title="refresh thumbs" @click="thumbnailPresets">Th</button>
          <button
            title="α in [-.3, 1.3]"
            @click="cfg.overshoot = 0.3 - cfg.overshoot"
          >
            O
          </button>
          <select @change="loadPreset($event.target.value)">
            <option>Choose a preset…</option>
            <option v-for="p in presets" :key="p" :value="p">{{ p }}</option>
          </select>
        </div>
        <div ref="thumbnails" class="thumbnails"></div>
      </div>
      <canvas
        ref="interp"
        :width="cfg.processWidth"
        :height="cfg.processHeight"
        style="height:600px"
      ></canvas>
    </div>
  </div>
</template>

<script>
let rangen = (n) => Array.from(Array(n).keys());
let range = (a, b, s = 1) =>
  rangen(Math.trunc((b - a + s - s / 1000) / s)).map((v) => a + v * s);
let linspace = (a, b, n) => rangen(n).map((v) => a + ((b - a) * v) / (n - 1));

function throttle(callback, limit) {
  let delay = limit;
  let noTrailing = false;
  let debounceMode = undefined;
  // https://github.com/niksy/throttle-debounce/blob/master/throttle.js
  //function throttle(delay, noTrailing, callback, debounceMode) {

  /*
   * After wrapper has stopped being called, this timeout ensures that
   * `callback` is executed at the proper times in `throttle` and `end`
   * debounce modes.
   */
  let timeoutID;
  let cancelled = false;

  // Keep track of the last time `callback` was executed.
  let lastExec = 0;

  // Function to clear existing timeout
  function clearExistingTimeout() {
    if (timeoutID) {
      clearTimeout(timeoutID);
    }
  }

  // Function to cancel next exec
  function cancel() {
    clearExistingTimeout();
    cancelled = true;
  }

  // `noTrailing` defaults to falsy.
  if (typeof noTrailing !== "boolean") {
    debounceMode = callback;
    callback = noTrailing;
    noTrailing = undefined;
  }

  /*
   * The `wrapper` function encapsulates all of the throttling / debouncing
   * functionality and when executed will limit the rate at which `callback`
   * is executed.
   */
  function wrapper(...arguments_) {
    let self = this;
    let elapsed = Date.now() - lastExec;

    if (cancelled) {
      return;
    }

    // Execute `callback` and update the `lastExec` timestamp.
    function exec() {
      lastExec = Date.now();
      callback.apply(self, arguments_);
    }

    /*
     * If `debounceMode` is true (at begin) this is used to clear the flag
     * to allow future `callback` executions.
     */
    function clear() {
      timeoutID = undefined;
    }

    if (debounceMode && !timeoutID) {
      /*
       * Since `wrapper` is being called for the first time and
       * `debounceMode` is true (at begin), execute `callback`.
       */
      exec();
    }

    clearExistingTimeout();

    if (debounceMode === undefined && elapsed > delay) {
      /*
       * In throttle mode, if `delay` time has been exceeded, execute
       * `callback`.
       */
      exec();
    } else if (noTrailing !== true) {
      /*
       * In trailing throttle mode, since `delay` time has not been
       * exceeded, schedule `callback` to execute `delay` ms after most
       * recent execution.
       *
       * If `debounceMode` is true (at begin), schedule `clear` to execute
       * after `delay` ms.
       *
       * If `debounceMode` is false (at end), schedule `callback` to
       * execute after `delay` ms.
       */
      timeoutID = setTimeout(
        debounceMode ? clear : exec,
        debounceMode === undefined ? delay - elapsed : delay
      );
    }
  }
  wrapper.cancel = cancel;
  // Return the wrapper function.
  return wrapper;
}

export default {
  name: "OT2DPrecomputed",
  data: () => ({
    presets: "tiny tinydense text-ot-curved"
      .split(" ")
      .map((v) => `/ot2d-precomputed/ot2d-precomputed-${v}.js`),
    cfg: {
      overshoot: 0, // to start before 0 and end after 1 in the slider
      spaceAsColor: false,
      colorChangeWithAlpha: true, // morph from red to blue?
      paintAtRadius: 5,
      tmp: 1,
      processWidth: 200,
      processHeight: 200,
      swapOnLoad: false,
    },
    mode: "segments",
    varySteps: linspace(0, 1, 7),
    alpha: 0.5,
    animateAlpha: 0, // dα /delay
    animateAlphaBase: 0.02,
    animateAlphaDelay: 50,
    advanced: false,

    // non-reactive for perf reasons
    //srcPoints: [[60, 60], [65, 65], [67, 70]],
    //tgtPoints: [[160, 110], [115, 165]],
    //coupling: [[0, 0, 0.33], [0, 1, 0.66], [1, 0, 0.33], [1, 1, 0.66], [2, 1, 1]],
    couplingScale: 1,
  }),
  computed: {
    varyWidth() {
      return this.cfg.processWidth * this.varySteps.length;
    },
  },
  watch: {
    animateAlpha(anim) {
      this.scheduleAnimateAlpha();
    },
    alpha(a) {
      this.throttleUpdateInterp();
      //this.updateInterpCanvas(this.srcPoints, this.tgtPoints, this.coupling, a)
    },
    coupling(c) {
      this.updateInterpCanvas(this.srcPoints, this.tgtPoints, c, this.alpha);
      this.throttleUpdateVary();
    },
  },
  mounted() {
    window.vm_ot2dprecomputed = this;
    this.throttleUpdateInterp = throttle(() => {
      this.updateInterpCanvas(
        this.srcPoints,
        this.tgtPoints,
        this.coupling,
        this.alpha
      );
    }, 20);
    this.throttleUpdateVary = throttle(() => {
      this.updateVaryCanvas();
    }, 100);
    //this.loadConfig()
    this.asyncMounted();
  },
  methods: {
    setTimeout(...args) {
      window.setTimeout(...args);
    },
    promptAnimateAlphaBase() {
      let v = prompt("Animate alpha at speed...", this.animateAlphaBase);
      if (v === null) {
        return;
      }
      v = parseFloat(v);
      if (!isNaN(v)) {
        this.animateAlpha = this.animateAlphaBase = v;
      }
    },
    scheduleAnimateAlpha() {
      window.clearTimeout(this.animateAlphaTimer);
      this.animateAlphaTimer = window.setTimeout(() => {
        if (this.animateAlpha == 0) return;
        if (this.animateAlpha > 0) {
          this.alpha += this.animateAlpha;
          if (this.alpha > 1 + this.cfg.overshoot) this.animateAlpha *= -1;
        } else {
          this.alpha += this.animateAlpha;
          if (this.alpha < -this.cfg.overshoot) this.animateAlpha *= -1;
        }
        this.scheduleAnimateAlpha();
      }, this.animateAlphaDelay);
    },
    async asyncMounted() {
      /*
      if (window.localStorage.getItem("OT")) {
        let txt = window.localStorage.getItem("OT");
        await this.loadPreset(null, txt);
      }
      */
      //await this.loadPresetList("presets.txt"); // from: ls -1 pre-*.js > presets.txt
      await this.loadPreset(this.presets[0]);
      await this.thumbnailPresets();
      //TODO do it based on a prop: this.animateAlpha = this.animateAlphaBase;
    },
    async loadPresetList(path) {
      let req = await fetch(path);
      let txt = await req.text();
      if (txt.startsWith("<")) return;
      this.presets = txt.trim().split("\n");
    },
    async loadPreset(path, forceTxt = null) {
      let txt;
      // get txt with a request or the forceTxt parameter
      if (!forceTxt) {
        let req = await fetch(path);
        txt = await req.text();
      } else {
        txt = forceTxt;
      }
      // make an object either from json or from a pseudo eval code
      let o;
      try {
        o = JSON.parse(txt);
      } catch (e) {
        new Function("localStorage", "window", txt)({
          setItem: (ot, txt) => {
            o = JSON.parse(txt);
          },
        });
      }
      Object.assign(this.cfg, o.cfg);
      delete o.cfg;
      Object.assign(this, o);
      if (this.cfg.swapOnLoad) {
        this.swap();
      }
      this.$nextTick(() => {
        this.throttleUpdateInterp();
        this.throttleUpdateVary();
      });
    },
    async thumbnailPresets() {
      this.$refs.thumbnails.innerHTML = "";
      for (let p of this.presets) {
        let req = await fetch(p);
        let txt = await req.text();
        let o;
        try {
          o = JSON.parse(txt);
        } catch (e) {
          new Function("localStorage", "window", txt)({
            setItem: (ot, txt) => {
              o = JSON.parse(txt);
            },
          });
        }
        let canvas = document.createElement("canvas");
        canvas.width = o.cfg.processWidth;
        canvas.height = o.cfg.processHeight;
        canvas.classList.add("thumb");
        canvas.style.width = "100px";
        canvas.style.height = "100px";
        canvas.onclick = () => {
          this.loadPreset(p);
        };
        this.$refs.thumbnails.appendChild(canvas);
        this.updateInterpCanvas(
          o.srcPoints,
          o.tgtPoints,
          o.coupling,
          0.5,
          canvas
        );
      }
    },
    swap() {
      let s = this.srcPoints;
      this.srcPoints = this.tgtPoints;
      this.tgtPoints = s;
      let ratio = this.srcPoints.length / s.length;
      //ratio = Math.max(1, ratio)
      this.coupling = this.coupling.map(([i, j, v]) => [j, i, v * ratio]);
    },
    toggleColorMode() {
      this.cfg.spaceAsColor = !this.cfg.spaceAsColor;
      this.throttleUpdateInterp();
      this.throttleUpdateVary();
    },
    toggleSwapMode() {
      this.cfg.swapOnLoad = !this.cfg.swapOnLoad;
      this.swap();
      this.throttleUpdateInterp();
      this.throttleUpdateVary();
    },
    clickOnVary(ev, upInterp = true, upVary = true) {
      let e = this.$refs.vary;
      let dim = e.getBoundingClientRect();
      let posx =
        ((ev.clientX - dim.left) / dim.width) *
        (this.cfg.processWidth * this.varySteps.length);
      let posy =
        ((ev.clientY - dim.top) / dim.width) *
        (this.cfg.processWidth * this.varySteps.length);
      this.paintAt = [posx, posy];
      if (upInterp) this.throttleUpdateInterp();
      if (upVary) this.throttleUpdateVary();
    },
    changePaintAtRadius(deltaY) {
      this.cfg.paintAtRadius *= Math.pow(1.01, deltaY);
      this.throttleUpdateInterp();
      this.throttleUpdateVary();
    },
    updateVaryCanvas() {
      let canvas = this.$refs.vary;
      let ctx = canvas.getContext("2d");
      for (let iα in this.varySteps) {
        let α = this.varySteps[iα];
        let data = this.renderInterpolation(
          ctx,
          this.srcPoints,
          this.tgtPoints,
          this.coupling,
          α
        );
        if (data !== null) {
          ctx.putImageData(data, iα * this.cfg.processWidth, 0);
        }
      }
    },
    renderInterpolation(ctx, s, t, coupling, α, mode = "segments") {
      let start = Date.now();
      if (s === null || t === null || s.length == 0 || t.length == 0) return;
      if (mode == "kl") {
        // the euclidean interpolation of two discrete distribution ...
        // ... corresponds to the MLE estimator of a weighted merge of the distributions ...
        // ... which is also c, the barycenter using wa KL(a, c) + (1-wa) KL(b, c)
        const w = ctx.canvas.width;
        const h = ctx.canvas.height;
        const d = ctx.createImageData(w, h);
        const drawPoints = (points, r, g, b, da) => {
          for (const p of points) {
            let i = (p[1] * w + p[0]) * 4;
            d.data[i] = r;
            d.data[i + 1] = g;
            d.data[i + 2] = b;
            d.data[i + 3] = Math.min(255, d.data[i + 3] + 255 * da);
          }
        };
        drawPoints(s, 255, 0, 0, 1 - α);
        drawPoints(t, 255, 0, 0, α);
        return d;
      } else {
        if (coupling == null) return null;
        let w = ctx.canvas.width;
        let h = ctx.canvas.height;
        let d = ctx.createImageData(w, h);
        let dd = d.data;

        // manual clear to have the desired color but alpha=0
        if (this.cfg.colorChangeWithAlpha) {
          const v1 = Math.round(128 * (1 - α));
          const v2 = Math.round(128 * α);
          dd.fill(0, dd.length, 0);
          for (let i = 0; i < w * h * 4; i += 4) {
            dd[i + 0] = v1;
            dd[i + 2] = v2;
          }
        } else {
          for (let i = 0; i < w * h * 4; i += 4) {
            dd[i + 0] = 0;
            dd[i + 1] = 0;
            dd[i + 2] = 25;
            dd[i + 3] = 0;
          }
        }

        let addPixel;
        if (this.cfg.spaceAsColor) {
          let loopround = (v) =>
            Math.abs(256 - (Math.round(9 * 255 * v) % 512));
          addPixel = (x, y, da, from) => {
            let i = (y * w + x) * 4;
            dd[i + 0] = loopround(from[1] / h);
            dd[i + 1] = loopround(from[0] / w);
            dd[i + 2] = 0;
            dd[i + 3] = Math.min(255, dd[i + 3] + da);
          };
        } else if (this.paintAt != null) {
          let [pax, pay] = this.paintAt;
          let par = this.cfg.paintAtRadius;
          addPixel = (x, y, da, from) => {
            let i = (y * w + x) * 4;
            let dist = Math.sqrt(
              Math.pow(pax - from[0], 2) + Math.pow(pay - from[1], 2)
            );
            let red = 2 * Math.max(0, 1 - dist / par);
            dd[i + 0] = Math.min(255, dd[i + 0] + red * da);
            dd[i + 3] = Math.min(255, dd[i + 3] + da);
          };
        } else {
          addPixel = (x, y, da, from) => {
            let i = (y * w + x) * 4;
            dd[i + 3] = Math.min(255, dd[i + 3] + da);
          };
        }

        let ns = s.length;
        let nt = t.length;
        let factor = (200 * (ns + α * (nt - ns))) / ns;
        for (let [i, j, v] of coupling) {
          let from = s[i];
          let to = t[j];
          let x = from[0] + α * (to[0] - from[0]);
          let y = from[1] + α * (to[1] - from[1]);
          let dx = x;
          let dy = y;
          x = Math.floor(x);
          y = Math.floor(y);
          dx -= x;
          dy -= y;
          let add = (ix, iy, a, b) => {
            addPixel(x + ix, y + iy, Math.round(factor * v * a * b), from);
          };
          add(0, 0, 1 - dx, 1 - dy);
          add(0, 1, 1 - dx, dy);
          add(1, 0, dx, 1 - dy);
          add(1, 1, dx, dy);
        }
        /*
                    for (let i = 0; i < w*h*4; i += 4) {
                        d.data[i+3] = Math.floor(255*Math.pow(d.data[i+3]/255, 0.5))
                    }
                    */
        return d;
      }
    },
    updateInterpCanvas(s, t, coupling, α, canvas) {
      if (canvas === undefined) canvas = this.$refs.interp;
      let ctx = canvas.getContext("2d");

      let data = this.renderInterpolation(ctx, s, t, coupling, α, this.mode);
      if (data !== null) {
        ctx.putImageData(data, 0, 0);
      }
    },
    saveConfig() {
      localStorage.setItem(this.lsCfgKey, JSON.stringify(this.cfg));
    },
    clearConfig() {
      localStorage.removeItem(this.lsCfgKey);
    },
    loadConfig() {
      if (localStorage.getItem(this.lsCfgKey) != null) {
        this.cfg = JSON.parse(localStorage.getItem(this.lsCfgKey));
      }
    },
  },
};
</script>

<style scoped>
.ot2dprecomputed {
  position: relative;
  width: 94vw;
  left: calc(50% - 47vw);
}
/*
body {
  background: url("media/groovepaper.png");
}
*/
/* Layout */
.vue-grid-item > svg {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
.point {
  fill: currentColor;
}
.mid {
  transition: all 0.1s;
}
.mouse-sensitive-vary-area {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: calc(100% / var(--nSteps));
}
.hide-input input {
  display: none;
}
.controls-view {
  font-size: 80%;
  padding: 1em;
}
.controls-view .alpha {
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  margin: -0.5em 0;
}
.alpha button {
  font-size: 0.5em;
  vertical-align: middle;
}
.alpha button.on {
  color: darkred;
}

.ib {
  display: inline-block !important;
}
.computing {
  background: darkred;
  color: white;
  font-weight: bold;
}

.ot2dprecomputed > div {
  text-align: center;
  border: 2px solid black;
}
.ot2dprecomputed > div:not(:last-child) {
  border-bottom-width: 0;
}
canvas {
  /*border: 1px solid red;*/
}
.controls {
  opacity: 0.1;
}
.controls:hover {
  opacity: 1;
}

.controls .thumbnails:empty {
  display: none;
}
.controls .thumbnails {
  width: 320px;
  overflow: scroll;
}
.controls .thumb {
  /* not applied in practice?? */
}
input[type="range"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 1.8em 1em 0;
}
</style>
